@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #0e0e0f;
}
.nav img{
    width: 259px;
    height: 64px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0e0e0f;
    height: 59px;
    width: 100%;

}
.nav a{
    text-decoration: none;
    color: #fffefe;
}
.nav i{
    font-size: 21px;
}
.nav input{
    padding-right: 346px;
    padding-bottom: 9px;
    margin-right: 74px;
    padding-top: 9px;
    border-radius: 23px;
    background-color: #0e0e0f;
    border: 1px solid #222222;
    padding-left: 9px;
    color: #222222;
    font-size: large;
    
}
.nav input:focus{
    outline: none;
    color: white;
}
.nav p{
    background-color: #5d6bc0;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mic i{
    background-color: #181919;
    width: 40px;
    display: flex;
    height: 40px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.mic i:hover{
    background-color: #262726;
    width: 40px;
    display: flex;
    height: 40px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.bell i:hover{
    background-color: #262726;
    width: 40px;
    display: flex;
    height: 40px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.side{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    background-color: #0e0e0f;
    width: 90px;
    align-items: center;
}
.side a{
    text-decoration: none;
    color: #fffefe;
    font-size: 12px;
}
.home,.shorts,.lib,.sub{
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
}
.side i{
    font-size: 20px;
    color: #fffefe;
}
.rec{
    height: 50px;
    width: auto;
    margin-left: 90px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rec::-webkit-scrollbar {
    display: none;
  }
.rec a{
    height: 28px;
    width: 72px;
    background-color: #262726;
    margin-left: 50px;
    margin-top: 5px;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    color: #fffefe;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
}
.rec a:hover{
    height: 28px;
    width: 72px;
    background-color: #3e3f3e;
    margin-left: 50px;
    margin-top: 5px;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    color: #fffefe;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
}



.thumb iframe{
    height: 170px;
    width: 330px;
    background-color: #fffefe;
    margin-top: 20px;
    border-radius: 12px;
}
.vid{
    width: 330px;
    margin-left: 91px;
    height: auto;
}
.vid p{
    color: #fffefe;
}
.vid img{
    height: 45px;
    width: 48px;
    border-radius: 30px;
    margin: 5px;
}
.desc{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6px;
}
.cname{
    margin-left: 53px;
}
.cname a{
    text-decoration: none;
    color: #9a9b9a;
}
.cname p{
    color: #9a9b9a;
}
.desc p{
    color: #f0efe0;
}
.feed{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }